[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biosampleR"]
	path = biosampleR
	url = https://github.com/csim063/biosampler
[submodule "spectre"]
	path = spectre
	url = https://github.com/cran/spectre
